@model SercanTestCheckout.ViewModels.IndexViewModel
@using SercanTestCheckout.Models;
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>PRODUCTS</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model.ProductViewModel.Products)
            {
                <tr>
                    <th scope="row">@product.Id</th>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Description</td>
                    <td>@product.Price</td>
                    <td>
                        @using (Html.BeginForm("AddToBasket", "Home", new { productId = product.Id }, FormMethod.Post))
                        {
                            <button type="submit"> Add to cart</button>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
@if (Session["basket"] != null)
{
    <div class="jumbotron">
        <h1>BASKET</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Id</th>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Price</th>
                    <th scope="col">Amount</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Product product in (List<Product>)Session["basket"])
                {
                    <tr>
                        <th scope="row">@product.Id</th>
                        <td>@product.Id</td>
                        <td>@product.Name</td>
                        <td>@product.Description</td>
                        <td>@product.Price</td>
                        <td>@product.Amount</td>
                    </tr>
                }
                @if (Model.BasketViewModel.TotalPrice != null)
                {
                    <tr>
                        <th scope="row">Total Price</th>
                        <td>@Model.BasketViewModel.TotalPrice</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>